
body { background-color: rgb(231, 231, 231);
    background-size: 100%; 
    width: 100%; 
    height: 100vh;
    overflow: hidden;
    border: solid red;
    
    margin: 0;
    
    background-image: url("https://www.bing.com/images/search?view=detailV2&ccid=YBBUMQJ4&id=C95A90A81BA5A71C2B7BE55B3362C3B05D0B0A6A&thid=OIP.YBBUMQJ4-BsVNnG0EZFPCwHaE7&mediaurl=https%3a%2f%2fimg.freepik.com%2ffotos-premium%2ffondo-escritorio-trabajo_115919-23105.jpg&cdnurl=https%3a%2f%2fth.bing.com%2fth%2fid%2fR.601054310278f81b153671b411914f0b%3frik%3dagoLXbDDYjNb5Q%26pid%3dImgRaw%26r%3d0&exph=417&expw=626&q=fondo+trabajo&simid=608001880782281986&FORM=IRPRST&ck=DCE74463F4AEC1EDB4865EB172585620&selectedIndex=7&itb=0&ajaxhist=0&ajaxserp=0") 
    ;background-size: cover;
    }
    
    .Registrarse {
        font-size: 1rem;
    }
    
    .contenedor {
        width: 100%;
       height: 100%;
       display: flex;
       justify-content: center;

    
    }
    #container-1container {
        width: 100%;
        height: 100%;
      position: fixed;
      top: 12rem;
      
      font-size: 3rem;
      
    }
    #contenedor1 {
   
        display: flex;
    height: 30rem;
    flex-direction:column;
    
    border: solid 0.3rem ;
    padding: 4rem;
    border-top-color: rgba(230, 175, 175, 0);
    border-left-color: rgb(178, 44, 255);
    border-right-color:rgb(111, 0, 255) ;
    border-bottom-color: rgba(0, 51, 51, 0);

      border-radius: 5rem;
      position: fixed;
      top: 4rem;
    }
  
    input {
      
        width: 12rem;
      height: 2rem;
        border-radius: 0.7rem;
        background-color: transparent;
        display: flex;
        justify-content: center;
  
        margin: 1rem;
        text-align: center;
        border: solid black 0.1rem;
        background-color: #fff;
        padding: 0;
    
        
    }
#telefono {
padding-left: 1rem;
background-color: #fff;
}
    input::placeholder {
        font-family: fantasy;
   
font-size: 1.2rem;
        color: magenta;
      
        
     
    }

    #Inicia-sesion {
font-size: 1rem;
color: rgb(0, 247, 255);   }
  
   
   
    
   
        #boton {
            
            
            width: 12rem;
            height: 2.5rem;
            cursor: pointer;
            color: #fff;
            font-size: 17px;
            border-radius: 1rem;
            border: none;
            position: relative;
            background: #100720;
            transition: 0.1s;
        margin: 1rem;
          font-family: "Parkinsans", serif;
          font-optical-sizing: auto;
          font-weight: weight;
          font-style: normal;
            color: rgb(255, 255, 255);
      
    }
    
    #boton:after {
        
        content: '';
        width: 100%;
        height: 100%;
        background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
        filter: blur(18px);
        z-index: -1;
        position: absolute;
        left: 0;
        top: 0;
    }
    button:active {
        transform: scale(0.9) rotate(3deg);
        background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
        transition: 0.5s;
      }
    
    .error { 
      border-color: red;
    }
   
    #google {
    
      
        background-color: white;
        border: solid 0.1rem ;
        border-radius: 1rem;
    margin: 1rem;
    
    
    }
 
    #img-google {
        width: 1.4rem;
     
    }

            /* Ajuste general para pantallas pequeñas */
/* Ocultar texto "Inventary" en móviles */
@media (max-width: 650px) {


  #Inventary { display: none;
background-color: red;
  }
}

/* Asegurarte de que en pantallas grandes el texto sea visible */
@media (min-width: 769px) {

}